# Visual Studio 2015+
.vs/


# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
*.exe
*.pdb
*.dll
*.ilk
*.meta
*.tlog
*.vsp
*.vspx
*.vspscc
*.vssscc
*.build.log
*.log
*.bak
*.cache
*.ncb
*.aps
*.pch
*.obj
*.lib
*.sbr
*.res
*.exp
*.manifest
*.bsc
*.map
*.tds
*.ipch
*.iobj
*.iout
*.wpf.app
*.xaml.cs
*.xaml.g.cs
*.xaml.g.i.cs
*.designer.cs
*.xsc
*.xss
*.xsd
*.xsh
*.xsp
*.xpt
*.xrml
*.licx
*.userprefs
*.csproj.user
*.vbproj.user
*.sln.docstates
*.suo
*.user

# ignore env
.env